@use "variables" as variables;
@use "mixins" as mixins;
@use "sass:color";

/*******************
***              ***
***   About us   ***
***              ***
********************/

.about-us {
    width: 100%;
    height: 1200px;

    @media (max-width: 992px) {
        margin-bottom: 4rem;
    }

    &__container {
        position: relative;
        width: 100%;
        max-width: 1440px;
        margin: auto;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__image-container {
        position: absolute;
        top: 0%;
        height: 1200px;
        width: 100%;
        z-index: 4;

        &::after {
            content: "";
            height: 330px;
            width: 330px;
            background-color: variables.$background-color;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            z-index: -1;
            animation: bounceIn 1.5s ease-in-out 1s forwards;
            animation-play-state: paused;
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__circle img,
    &__magnifier img,
    &__guy img {
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        top: calc(50%);
        left: calc(50% - 15px);
    }

    &__circle img {
        transform: translate(-50%, -50%) scale(0);
        animation: bounceIn 0.8s ease-in-out 100ms forwards;
        animation-play-state: paused;
    }

    &__magnifier img {
        top: calc(50% + 20px);
        left: calc(50% + 18px);
        transform: translate(-50%, -50%) scale(0);
        animation: loupe-rotate 1.3s ease-in-out 0.8s forwards;
        animation-play-state: paused;

        @media (max-width: 1440px) {
            width: 97%;
        }
    }

    &__guy img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        animation: bounceIn 1.8s ease-in-out 1.6s forwards;
        animation-play-state: paused;
    }

    /*********************/
    /* Animations du logo*/
    /*********************/
    @keyframes loupe-rotate {
        0% {
            transform: translate(-50%, -50%) scale(0) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) scale(1) rotate(360deg);
        }
    }

    @keyframes bounceIn {
        0%,
        20%,
        40%,
        60%,
        80%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: translate(-50%, -50%) scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: translate(-50%, -50%) scale3d(0.9, 0.9, 0.9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: translate(-50%, -50%) scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: translate(-50%, -50%) scale3d(0.97, 0.97, 0.97);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
        }
    }

    // Container des artciles
    &__articles {
        position: relative;
        width: 100%;
        max-width: 1440px;
        height: 1200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0 5rem;

        @media (max-width: 992px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    // Container des textes
    &__article {
        width: 100%;
        height: 400px;

        &:nth-of-type(1) {
            width: 680px;
            border-top: variables.$primary-color solid 3px;
            grid-area: 1 / 1 / 2 / 2;
            opacity: 0;
            transform: translate(-100%, 0%);
            position: absolute;
            top: calc(50% - 100px);
            right: -100%;
            animation: article-expand 0.5s ease-in-out 2.5s forwards;
            animation-play-state: paused;

            @media (max-width: 992px) {
                position: static;
                transform: translate(0%, 0%);
                width: 85%;
            }
        }

        &:nth-of-type(2) {
            width: 680px;
            border-top: variables.$secondary-color solid 3px;
            grid-area: 1 / 2 / 2 / 3;
            position: absolute;
            top: calc(50% - 100px);
            left: 0;
            opacity: 0;
            animation: article-expand 0.5s ease-in-out 4.5s forwards;
            animation-play-state: paused;

            @media (max-width: 992px) {
                position: static;
                transform: translate(0%, 0%);
                width: 85%;
            }
        }

        &:nth-of-type(3) {
            width: 680px;
            border-bottom: variables.$warning-color solid 3px;
            grid-area: 2 / 1 / 3 / 2;
            opacity: 0;
            transform: translate(-100%, -100%);
            position: absolute;
            bottom: calc(-50% + 100px);
            right: -100%;
            animation: article-expand 0.5s ease-in-out 6.5s forwards;
            animation-play-state: paused;

            @media (max-width: 992px) {
                border-bottom: none;
                border-top: variables.$warning-color solid 3px;
                position: static;
                transform: translate(0%, 0%);
                width: 85%;
            }
        }

        &:nth-of-type(4) {
            width: 680px;
            border-bottom: variables.$success-color solid 3px;
            grid-area: 2 / 2 / 3 / 3;
            opacity: 0;
            position: absolute;
            top: calc(0%);
            left: 0%;
            animation: article-expand 0.5s ease-in-out 8.5s forwards;
            animation-play-state: paused;

            @media (max-width: 992px) {
                border-bottom: none;
                border-top: variables.$success-color solid 3px;
                position: static;
                transform: translate(0%, 0%);
                width: 85%;
            }
        }

        /**************************/
        /* Animation des articles */
        /**************************/
        @keyframes article-expand {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
                opacity: 1;
            }
        }
    }

    // Div gérant les bordures diagonales
    &__wraper {
        &:nth-of-type(1) {
            height: 565.68px;
            width: 565.68px;
            border-bottom: variables.$primary-color solid 2px;
            position: absolute;
            top: calc(50% - 399px);
            left: calc(50%);
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0;
            animation: border-bottom-expand 0.5s ease-in-out 2s forwards;
            animation-play-state: paused;

            @media (max-width: 1440px) {
                display: none;
            }
        }

        &:nth-of-type(2) {
            height: 65.68px;
            width: 258px;
            border-right: variables.$secondary-color solid 2px;
            position: absolute;
            top: calc(50% - 289px);
            left: calc(50% + 110px);
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0;
            animation: border-right-expand 0.5s ease-in-out 4s forwards;
            animation-play-state: paused;

            @media (max-width: 1440px) {
                display: none;
            }
        }

        &:nth-of-type(3) {
            height: 565.68px;
            width: 565.68px;
            border-left: variables.$warning-color solid 2px;
            position: absolute;
            top: calc(50% + 399px);
            left: calc(50%);
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0;
            animation: border-left-expand 0.5s ease-in-out 6s forwards;
            animation-play-state: paused;

            @media (max-width: 1440px) {
                display: none;
            }
        }

        &:nth-of-type(4) {
            height: 565.68px;
            width: 565.68px;
            border-top: variables.$success-color solid 2px;
            position: absolute;
            top: calc(50% + 399px);
            left: calc(50%);
            transform: translate(-50%, -50%) rotate(45deg);
            opacity: 0;
            animation: border-top-expand 0.5s ease-in-out 8s forwards;
            animation-play-state: paused;

            @media (max-width: 1440px) {
                display: none;
            }
        }

        /*************************/
        /* Animation des bordures */
        /**************************/
        @keyframes border-bottom-expand {
            0% {
                width: 0;
            }
            100% {
                width: 565.68px;
                opacity: 1;
                background-color: variables.$background-color;
            }
        }

        @keyframes border-right-expand {
            0% {
                height: 0;
            }
            99% {
                height: 560px;
                opacity: 1;
                background-color: variables.$background-color;
                border-bottom: none;
            }
            100% {
                height: 565.68px;
                opacity: 1;
                background-color: variables.$background-color;
                border-bottom: variables.$primary-color solid 2px;
            }
        }

        @keyframes border-left-expand {
            0% {
                height: 0;
            }
            100% {
                height: 565.68px;
                opacity: 1;
                background-color: variables.$background-color;
            }
        }

        @keyframes border-top-expand {
            0% {
                width: 0;
            }
            99% {
                width: 560px;
                opacity: 1;
                background-color: variables.$background-color;
                border-left: none;
            }
            100% {
                width: 565.68px;
                opacity: 1;
                background-color: variables.$background-color;
                border-left: variables.$warning-color solid 2px;
            }
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    // Contenu présent dans .article
    &__content {
        &--1 {
            height: 100%;
            width: 100%;
            padding: 1rem;
            background-color: color.adjust(variables.$primary-color, $lightness: 40%);
            @include mixins.flexbox(column, start, flex-start, 1.3rem);
            opacity: 0;
            animation: content-expand 0.5s ease-in-out 3s forwards;
            overflow: hidden;
            animation-play-state: paused;

            & h2,
            & p {
                width: 85%;
                transform: translateX(-110%);
                animation: text-left-entry 0.5s ease-in-out 3.5s forwards;
                padding-right: 10rem;
                font-size: 0.9rem;

                @media (max-width: 1440px) {
                    width: 90%;
                    padding-right: 2rem;
                }
                @media (max-width: 992px) {
                    padding-right: 0px;
                }
            }

            & h2 {
                font-size: 1.5rem;
            }

            @media (max-width: 1440px) {
                border-right: variables.$primary-color solid 3px;
            }

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        &--2 {
            height: 100%;
            width: 100%;
            padding: 1rem;
            background-color: color.adjust(variables.$secondary-color, $lightness: 40%);
            @include mixins.flexbox(column, start, flex-start, 1.3rem);
            opacity: 0;
            animation: content-expand 0.5s ease-in-out 5s forwards;
            overflow: hidden;
            text-align: right;
            animation-play-state: paused;

            & h2,
            & p {
                position: relative;
                right: -16%;
                width: 85%;
                transform: translateX(110%);
                animation: text-right-entry 0.5s ease-in-out 5.5s forwards;
                padding-left: 10rem;
                font-size: 0.9rem;

                @media (max-width: 1440px) {
                    right: -6%;
                    width: 95%;
                    padding-left: 0;
                }

                @media (max-width: 992px) {
                    position: static;
                    padding-left: 0;
                }
            }

            & h2 {
                font-size: 1.5rem;
            }

            & ul {
                font-size: 0.9rem;
                margin: 1rem 0;
                transform: translateX(110%);
                list-style-type: circle;
                width: 65%;
                position: relative;
                right: -36%;
                text-align: justify;
                animation: text-right-entry 0.5s ease-in-out 5.5s forwards;

                @media (max-width: 1440px) {
                    width: 80%;
                    right: -20%;
                }

                @media (max-width: 992px) {
                    left: 3%;
                }
            }

            @media (max-width: 1440px) {
                border-left: variables.$secondary-color solid 3px;
            }

            @media (max-width: 992px) {
                width: 100%;
                text-align: left;
                transform: translate(0%, 0%);
                position: static;
            }
        }

        &--3 {
            height: 100%;
            width: 100%;
            padding: 1rem;
            background-color: color.adjust(variables.$warning-color, $lightness: 40%);
            @include mixins.flexbox(column, start, flex-start, 1.3rem);
            transform: translate(-100%, -100%);
            position: absolute;
            top: 100%;
            right: -100%;
            opacity: 0;
            animation: content-expand 0.5s ease-in-out 7s forwards;
            overflow: hidden;
            animation-play-state: paused;

            & h2,
            & p {
                width: 85%;
                transform: translateX(-110%);
                animation: text-left-entry 0.5s ease-in-out 7.5s forwards;
                padding-right: 15rem;
                font-size: 0.9rem;

                @media (max-width: 1440px) {
                    width: 90%;
                    padding-right: 2rem;
                }

                @media (max-width: 992px) {
                    padding-right: 0px;
                }
            }

            & h2 {
                font-size: 1.5rem;
            }

            & ul {
                transform: translateX(-110%);
                animation: text-left-entry 0.5s ease-in-out 7.5s forwards;
                font-size: 0.9rem;
                list-style-type: circle;
                width: 65%;
                position: relative;
                left: 3%;
                text-align: justify;
                margin: -1rem 0;

                @media (max-width: 1440px) {
                    width: 85%;
                }
            }

            @media (max-width: 1440px) {
                border-right: variables.$warning-color solid 3px;
            }

            @media (max-width: 992px) {
                width: 100%;
                text-align: left;
                transform: translate(0%, 0%);
                position: static;
            }
        }

        &--4 {
            height: 100%;
            width: 100%;
            padding: 1rem;
            background-color: color.adjust(variables.$success-color, $lightness: 40%);
            @include mixins.flexbox(column, start, flex-start, 1.3rem);
            opacity: 0;
            transform: translate(-100%, -100%);
            position: absolute;
            top: 100%;
            right: -100%;
            animation: content-expand 0.5s ease-in-out 9s forwards;
            overflow: hidden;
            text-align: right;
            animation-play-state: paused;

            & h2,
            & p {
                position: relative;
                right: -26%;
                width: 75%;
                transform: translateX(100%);
                animation: text-right-entry 0.5s ease-in-out 9.5s forwards;
                padding-left: 10rem;
                font-size: 0.9rem;

                @media (max-width: 1440px) {
                    padding-left: 2rem;
                    width: 90%;
                    right: -10%;
                }
                @media (max-width: 992px) {
                    position: static;
                    padding-left: 0;
                }
            }

            & h2 {
                font-size: 1.5rem;
            }

            @media (max-width: 1440px) {
                border-left: variables.$success-color solid 3px;
            }

            @media (max-width: 992px) {
                width: 100%;
                text-align: left;
                transform: translate(0%, 0%);
                position: static;
            }
        }

        /**************************/
        /* Animation du background */
        /***************************/
        @keyframes content-expand {
            0% {
                height: 0;
            }
            100% {
                height: 100%;
                opacity: 1;
            }
        }

        /*********************/
        /* Animation du texte */
        /**********************/
        @keyframes text-left-entry {
            0% {
                transform: translateX(-110%);
                visibility: visible;
            }
            100% {
                transform: translateX(0);
            }
        }

        @keyframes text-right-entry {
            0% {
                transform: translateX(110%);
                visibility: visible;
            }
            100% {
                transform: translateX(0);
            }
        }
    }

    // Ciblage des éléments enfants lorsque la classe `animate` est ajoutée
    &--animate {
        & .about-us__article,
        & .about-us__wraper,
        & .about-us__image-container::after,
        & .about-us__circle img,
        & .about-us__magnifier img,
        & .about-us__guy img,
        & .about-us__content--1,
        & .about-us__content--2,
        & .about-us__content--3,
        & .about-us__content--4 {
            animation-play-state: running;
        }
    }
}
