@use "variables" as variables;
@use "mixins" as mixins;
@use "sass:color";

/*****************
***            ***
***   Header   ***
***            ***
******************/

.header {

    &__container {
        position: sticky;
        top: 0;
        width: 100%;
        @include mixins.flexbox(row, space-between, center);
        z-index: 100;
        transition: background 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;

        &--background {
            background: rgba(255, 255, 255, 0.40);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.28);
        }
    }

    &__logo {
        height: 100%;
        width: 250px;
        @include mixins.flexbox(row, center, center);

        @media (max-width: 768px) {
            height: 100%;
            width: 100px;
        }

        & img {
            height: 100%;
            width: 100%;
            filter: contrast(110%) saturate(100%) brightness(110%);
        }
    }

    &__burger {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 110;
        color: variables.$secondary-color;

        @media (max-width: 768px) {
            display: block;
            margin-right: 2.5rem;
        }
    }

    &__navbar {
        width: 50%;
        margin-right: 5rem;

        @media (max-width: 768px) {
            display: none; // Caché par défaut en dessous de 768px
            position: absolute;
            top: 70%;
            right: -2.5rem;
            background: variables.$background-color;
            z-index: 100; // Juste en dessous du bouton burger
        }

        &--active {
            @media (max-width: 768px) {
                display: block; // Affiché quand actif
            }
        }
    }

    &__nav-list {
        @include mixins.flexbox(column, flex-end, flex-end); // Menu vertical sur mobile

        @media (min-width: 769px) {
            @include mixins.flexbox(
                row,
                space-between,
                center
            ); // Retour à horizontal sur grands écrans
        }

        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__nav-link {
        padding: 1rem;
        text-align: center;
        width: 100%; // Occupe toute la largeur sur mobile

        @media (min-width: 769px) {
            width: auto; // Retour à la taille normale sur grands écrans
        }

        position: relative;
        display: inline-block;
        overflow: hidden;
        color: color.adjust(variables.$secondary-color, $lightness: 10%);
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: color.adjust(variables.$success-color, $lightness: 10%);
            transform: scale(1.1);
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: color.adjust(variables.$success-color, $lightness: 10%);
            transition: all 0.3s ease-in-out;
        }

        &::before {
            bottom: 0;
            transform: translateX(-100%);
            opacity: 0;
        }

        &::after {
            top: 0;
            opacity: 0;
            transform: translateX(100%);
        }

        &:hover::before,
        &:hover::after {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__wrapper {
        position: static;
        top: 0;
        width: 100%;
        height: 100vh;

        @media (max-width: 768px) {
            height: 30vh; // Retour à la taille normale sur grands écrans
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 1080px;
        z-index: 2;

        @media (max-width: 768px) {
            height: fit-content; // Retour à la taille normale sur grands écrans
        }

        & img {
            width: 100%;
            max-height: 1080px;
            object-fit: cover;
            filter: brightness(90%) contrast(110%);
            position: relative;
            mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
            -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
        }
    }

    &__tagline {
        width: 80%;
        max-width: 1440px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            height: 220px; 
            top: 10%;
            left: 5%;
            width: 100%;
            transform: translate(0%,0%);
        }
    }

    &__title {
        color: variables.$background-color; // Utilisation de la variable pour la couleur
        font-family: variables.$cursive-font; // Font définie dans les variables
        font-size: 3rem;
        font-weight: 300;
        text-shadow: 5px 3px 0 #7A7A7A;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
}
