/********************
***               ***
***   Variables   ***
***               ***
*********************/

/* Font */
$main-font: "Montserrat", sans-serif;
$title-font: "DM Sans", sans-serif;
$cursive-font: "Poppins", sans-serif;
$third-font: Arial, sans-serif;

/* Color Palette*/
$background-color: #f0f4f8;
$font-color: #241623;
$primary-color: #2DAAE2;
$secondary-color: #F05126;
$success-color: #83C440;
$info-color: #17a2b8;
$warning-color: #F9BC16;
