/********************
***               ***
***   Variables   ***
***               ***
*********************/

/* Font */
$main-font: "Roboto", sans-serif;
$title-font: "Raleway", sans-serif;
$cursive-font: "Edu AU VIC WA NT Pre", sans-serif;
$third-font: Arial, sans-serif;

/* Color Palette*/
$background-color: #f0f4f8;
$font-color: #241623;
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
