/******************
***             ***
***   Imports   ***
***             ***
*******************/

// On importe les fichiers
@use "variables" as variables;
@use "mixins" as mixins;
@use "reset";
@use "header";
@use "about-us";
@use "jobs";
@use "profiles";
@use "footer";
@use "contact";
@use "legal";
@use "confidential";

/******************
***             ***
***   Général   ***
***             ***
*******************/

body {
    background-color: variables.$background-color;
    color: variables.$font-color;
    font-family: variables.$main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variables.$title-font;
}

// TODO: bug de scroll quand on est en responsive > 992px